body{
	background-color: #f5f5f5;
}
.margintop{
	margin-top: 0.2rem;
}
.announcement{
	background-color: white;
	width: 100%;
	padding: 0 0.25rem;
	border:solid #ddd; border-width:1px 0
}
.announceItem{
	padding: 0.25rem 0;
	border-bottom: 1px solid #ddd;
}
.announceItem:last-child{
	border-bottom: none
	}
.announceImg img{
	margin-top: 5px;
}
.announceContent{
	font-size: 17px;
	line-height: 25px;
	color: #333333;
}
.announceTime{
	font-size: 10px;
	line-height: 18px;
	color: #b2b2b2;
	margin-left: 0.2rem;
}
