@charset "utf-8";
/* CSS Document */
.mui-bar-nav{ background:#fff; height:60px}
.mui-bar-nav~.mui-content{ padding-top:60px;}
.mui-bar-nav~.zd_title-bot{ padding-top:44px}
.mui-input-group{ background-color:transparent}
.mui-input-group:after{ height:0}
.zd_login .mui-input-row{ padding:5px 0; height:54px}
.zd_login .mui-input-row label{ padding:10px 15px; width:50px}
.zd_login .mui-input-row img{ width:24px}
.zd_login .mui-input-row input{ width:auto; float:left; margin-top:2px}
.zd_login .mui-input-row .mui-btn{ position:absolute; width:auto; right:10px; padding:8px; top:12px}
.zd_login .mui-input-row.mui-text-center:after{height:0}
.zd_login span{ line-height:40px; font-size:16px; color:#999;white-space:nowrap}
.zd_login span a{ color:#0d87e4; text-decoration:underline}
.zd_login .mui-checkbox input[type=checkbox]{ position:relative; top:2px; left:0; float:none}
.zd_login .mui-checkbox input[type=checkbox]:before{ font-size:24px}
.zd_login .mui-icon-clear{ display:none}
.zd_login .mui-button-row{ padding:0 10px}
.zd_blockbtn .mui-btn{ border-radius:50px; display:block; line-height:26px; width:100%; font-size:17px}
.zd_inlinebtn .mui-btn{ line-height:26px; font-size:17px; width:40%}

.zd_titlebtn{ border:1px solid #0d87e4; border-radius:50px; line-height:36px; overflow:hidden; margin-top:11px}
.zd_titlebtn a{ color:#0d87e4; display:block; float:left; width:50%}
.zd_titlebtn .active{ background-color:#0d87e4; color:#fff}
.zd_title{ height:40px; line-height:40px; border-bottom:1px solid #ccc; padding:0 10px; color:#999999}
.zd_title1{ padding:15px 0 15px 15px; border-bottom:1px solid #ccc; background-color:#fff; overflow:hidden; }
.zd_title1 span{ display:block; float:left; line-height:18px; margin-right:15px;overflow:hidden; }
.zd_title1 span:first-child{ max-width:90px;text-overflow:ellipsis; white-space:nowrap; border-left:5px solid #0d87e4; padding-left:10px}
.zd_title1 span:last-child{ margin:0}
.zd_title-top{background:#0d87e4; height:44px; line-height:44px;}



.zd_hbox .zd_h1 *{ font-size:15px; text-decoration:none; }
.zd_hbox .zd_h2 *{ font-size:17px; line-height:24px}
.zd_write.mui-checkbox label{ font-size:15px; font-weight:bold; color:#666; padding-left:50px}
.zd_write input[type=checkbox]{ top:6px}
.zd_write input[type=checkbox]:before{ font-size:24px;}
.zd_addlist{ padding:10px; border-bottom:1px solid #ccc}
.zd_addlist img{ width:24px; margin-top:5px}
.zd_addlist span{ margin-top:8px}
.zd_danglist{ padding:10px}
.zd_danglist li{ margin-bottom:10px; box-shadow:0 1px 2px rgba(0,0,0,0.15); background-color:#fff; border-radius:5px; border-top:5px solid #0d87e4}
.zd_danglist li>img{ width:80px; margin-left:20px; margin-top:-3px}
.zd_danglist li .zd_footlist{ border-top:1px solid #ccc; padding:5px 0}
.zd_danglist li .zd_footlist img{ width:18px;float:left; margin-top:5px;}
.zd_danglist li .zd_footlist span{ font-size:15px; color:#999;margin-top:5px; margin-left:5px; float:left }
.zd_danglist li.active{ background:url(../images/duigou.png) top right no-repeat #fff;}

.zd_list-content{ padding:0 10px; background-color:#fff}
.zd_list-content .mui-row{ border-bottom:1px solid #ccc; padding:3px 0}
.zd_list-content input[type=text],.zd_list-content textarea{ margin-bottom:0; padding:0; border:none; background:none; height:auto}
.zd_list-content1 li{ background:url(../images/list.png) 15px center no-repeat; text-indent:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.zd_listpeople .mui-row{ border-bottom:none; padding:0}
.zd_listpeople .mui-row .mui-table-view-cell{ padding:6px 15px}
.zd_listpeople .mui-row .mui-col-sm-4 .mui-table-view-cell,.zd_listpeople .mui-row .mui-col-xs-4 .mui-table-view-cell{ color:#999}
.zd_listpeople .mui-row .mui-col-sm-8 .mui-table-view-cell,.zd_listpeople .mui-row .mui-col-xs-8 .mui-table-view-cell{ text-align:right}

.zd_calender:before{height:0}
.zd_calender .mui-table-view-cell{ border-left:4px solid #0d87e4; margin-bottom:10px; border-bottom:1px solid #ccc;border-top:1px solid #ccc; padding:12px 15px;}
.zd_calender .mui-table-view-cell:first-child{ border-top:none}
.zd_calender .mui-table-view-cell:after{ height:0}

.zd_order .mui-navigate-right li{ padding-left:25px; line-height:32px; background-position:left center; background-repeat:no-repeat; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#666}
.zd_doctor{background:url(../images/doctor.png);}
.zd_time{background:url(../images/time.png);}
.zd_people{ background:url(../images/people.png)}
.zd_site{ background:url(../images/site.png)}
.zd_order .mui-table-view-cell{}
.mui-segmented-control .mui-control-item s{ float:right; height:18px; width:1px; background-color:#ccc; margin-top:15px }

.zd_menber em{ height:72px;width:72px; background-color:#f5f5f5;border-radius:50%;float:left; margin-right:10px; overflow:hidden;display:flex;justify-content:center;align-items:center}
.zd_menber em img{ width:100%; display:block; margin:auto}
.zd_menber span{ float:left; line-height:72px}
.zd_menberlist .mui-table-view-cell a{ padding-left:42px; margin-left:0; line-height:36px;}
.zd_menberiocn1{ background:url(../images/p1.png) left center no-repeat}
.zd_menberiocn2{ background:url(../images/p2.png) left center no-repeat}
.zd_menberiocn3{ background:url(../images/p3.png) left center no-repeat}
.zd_menberiocn4{ background:url(../images/p4.png) left center no-repeat}
.zd_menberiocn5{ background:url(../images/p5.png) left center no-repeat}

