body{
	font-size: 12px;
	background: #f5f5f5s;
}
.sc-calendar {
	width: 100%;
	text-align: center;
	font-family: "Microsoft Yahei";
	color: #4A4A4A;
	background-color: white;
	font-size: 10px;
}
.sc-body.showmonth5{
	overflow: hidden;
}
.sc-body.showmonth6{
	height: 6.92rem;
}

.sc-header {
	width: 100%;
	height: 1.62rem;
	background:#0d87e4;
}

.sc-title {
	height: 0.9rem;
	border-bottom: 0;
	color: white;
	padding: 0.3rem 0.4rem;
}
.year {
	float: left;
	position: relative;
	font-size: 17px;
}

.month {
	float: right;
	position: relative;
	box-sizing: border-box;
	font-size: 15px;
}

.monthdiv {
	position: relative;
	top: -2px;
	display: inline-block;
	min-width: 1.3rem;
	font-size:17px
}

.month .arrow {
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
}

.sc-mleft {
	background: url(../images/arrowLeftCircle.png) center top no-repeat;
	background-size: 100% 100%;
	width: 0.4rem;
	height: 0.4rem;
}

.sc-mright {
	background: url(../images/arrowRightCircle.png) center top no-repeat;
	background-size: 100% 100%;
	width: 0.4rem;
	height: 0.4rem;
}

.year span {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "Microsoft Yahei";
	color: white;
}


.sc-body {
	height: 5.4rem;
	clear: both;
}

/*星期*/
.sc-week {
	height: 0.55rem;
	font-weight: 400;
	font-size: 10px;
	line-height: 0.55rem;
	color: #4A4A4A;
}

.sc-week-item {
	height: 100%;
	float: left;
	width: 14.285%;
	color: white;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	 font-size:17px;
}
/*日*/
.sc-days {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sc-item {
	width: 12%;
	height: 0.9rem;
	float: left;
	color: #565555;
	background-color: #ffffff;
	box-sizing: border-box;
	margin: 1.14%;
	
}

.sc-item .day {
	font-size: 17px;
	color: #333333;
	font-weight: normal;
	line-height: 0.45rem;
	margin-top:0.27rem
}
.sc-item .lunar-day {
	font-size: 9px;
	line-height: 0.24rem;
	color: #b2b2b2;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sc-item-small {
	font-size: 0.416666rem !important;
}
.item-nolunar {
	padding-top: 0.833333rem;
}

.sc-vocation {
	background-color: #FFEBEC;
}

.sc-mark {
	background-color: #E5FBFA;
}
.mark{
	/*background: url(../img/blueBg.png) center center no-repeat;
	background-size: 0.88rem 0.88rem;*/
	height:0;
	font-size: 14px;
	color:#0d87e4;
	margin-top:-0.05rem
}
.sc-mark-show {
	visibility: visible;
}

.sc-mark-hide {
	visibility: hidden;
}

.sc-vocation:before {
	content: '休';
	display: block;
	position: absolute;
	font-size: 0.7em;
	width: 1.2em;
	font-weight: 100;
	color: white;
	background-color: #E00808;
	margin-top: -0.416666rem;
}
.sc-premonth , .sc-nextmonth {
	color: #C1C0C0 !important;
}

.sc-premonth .day , .sc-nextmonth .day,
.sc-premonth .day, .sc-nextmonth .lunar-day {
	color: #C1C0C0 !important;
}

.sc-active-day{
	background:#ffb400;
	background-size: 0.88rem 0.88rem;
	background: cover;
	border-radius:100%;
}
.sc-active-day .day {
	color: white !important;
}
.sc-active-day .lunar-day{
	color: white;
}
.sc-today {
	background:#0d87e4;
	background-size: 0.88rem 0.88rem;
	color: white;
	border-radius:100%
}

.sc-today .day {
	color: white !important;
}
.sc-today .lunar-day{
	color: white;
}
.sc-festival .lunar-day {
	color: #E00808;
}

.btnBox{
	width: 100%;
	padding: 0.5rem 0.4rem;
	background: white;
}
.returnBtn{
	display: block;
	width: 100%;
	height: 0.8rem;
	text-align: center;
	background: #4e9fee;
	color: white;
	font-size: 15px;
	line-height: 0.8rem;
	border-radius: 0.08rem;
}
.sc-active-day .mark,.sc-today .mark{ color:#FFF !important}
