@charset "utf-8";
body,div,dl,dt,dd,ul,li,form,input,button,h1,h2,h3,h4,h5,h6,p{margin: 0 auto;padding:0;font-family:"微软雅黑";color:#0d87e4}
ul,li,dl,dt,dd{display:block;list-style:none;}
a{text-decoration:none;outline:none;}
.fl{float:left;}
.fr{float:right;}
.none{display:none;}
.loan_jm1{width:94%;margin:0 auto;}
.loan_jm_spa1{width:39%;height:40px;line-height:40px;font-size:1em;color:#666;display:block;float:left;}
.loan_jm_l1{margin-top:10px;margin-bottom:15px;height:40px;}
.wbk_srn{width:57%;height:40px;border:1px solid #ccc;background:#FFF;float:left;padding-left:3%;line-height:40px;color:#ADADAD;
font-size:1.1em; background-size:45%;background-position:center;background:#fff;}
.wbk_srn b{width:30px;height:40px;border:1px solid #ccc;background:#FFF;float:left;padding-left:3%;line-height:40px;color:#ADADAD;
font-size:1.1em;}
/*显示点击是哪个字母*/
.showLetter{
    position: fixed;
    color:#0d87e4;
    width: 50px;
    height:50px;
    top:50%;
    left: 50%;
    border-radius: 50%;
    border: #0d87e4 1px solid;
    text-align: center;
    display: none;
}
.showLetter span{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}
/*城市弹层*/
.container{width:100%;}
.letter{width:auto;position:fixed;top:10%;right:10px;text-align:center;}
.letter ul{list-style-type:none;}
.letter ul li a{text-decoration:none;color:#0d87e4;font-size: 16px}
.city{overflow:hidden;padding:44px 10px;}
.city-list{width:100%;}
.city-list .city-letter{font-size:20px;display:inline-block;padding-top:15px;padding-bottom:5px;border-bottom:1px solid #e8ecf1;width:100%;}
.city-list p{padding:15px 10px;border-bottom:1px solid #e8ecf1;cursor:pointer; font-size:14px}
.city-list p em{display:block}
.city-list p em:first-child{ margin-bottom:10px;}
.city-list p em:first-child span:first-child{ font-weight:bold; font-size:16px;color:#333; }
.city-list p em:first-child span:last-child{ border:1px solid #0d87e4; border-radius:4px; padding:0 4px; color:#0d87e4}
.city-list p span{ margin-right:10px; color:#666}
.UISelect{margin-top:5px}
.footbox{ position:fixed; height:44px; left:0; right:0; bottom:0; background:#fff; z-index:99; background-color:#f5f5f5; border-top:1px solid #ddd; line-height:42px; padding:0 15px; color:#333}